<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Presensi Face Recognition</title>
<link rel="stylesheet" href="/public/css/style.css" />
<!-- Face-API & TensorFlow.js (browser) -->
<script defer src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.20.0/dist/tf.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api/dist/face-api.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
<script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>