<% layout('layout') %>
    <section class="cards">
        <a class="card" href="/karyawan">
            <h3>Data Karyawan</h3>
            <p>Lihat & tambah data.</p>
        </a>
        <a class="card" href="/rekam-wajah">
            <h3>Rekam Wajah</h3>
            <p>Ambil embedding wajah untuk NRP.</p>
        </a>
        <a class="card" href="/absensi">
            <h3>Absensi</h3>
            <p>Scan wajah untuk presensi.</p>
        </a>
        <a class="card" href="/testing">
            <h3>Testing</h3>
            <p>Uji deteksi & identifikasi.</p>
        </a>
    </section>