<% layout('layout') %>
    <h2>Rekam Wajah</h2>
    <div class="panel">
        <label for="nrp">Masukkan NRP:</label>
        <input id="nrp" placeholder="NRP Karyawan" />
        <button id="btnCheck">Lanjut</button>
    </div>
    <p id="status">Masukkan NRP terlebih dahulu.</p>
    <script src="/public/js/rekam-start.js" defer></script>